body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &-sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &-lg {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  &-title {
    margin-bottom: 50px;
  }

  &-content {
    h2, h3, h4, h5, h6 {
      margin-top: 40px;
    }

    p {
      margin-top: 30px;
    }

    a {
      text-decoration: underline;
    }
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-fixed {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.border-primary {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $secondary-color;
    opacity: .8;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;
}

.bg-light {
  background: $light !important;
}

.text-primary {
  color: $primary-color !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.mobile-height {
  min-height: 400px;
}

.overflow-hidden {
  overflow: hidden;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.icon-rounded {
  height: 80px;
  width: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  font-size: 30px;
}

.bg-gradient-primary {
  background-image: linear-gradient(-10deg, $secondary-color -40%, $primary-color 95%);
}

.page-title {
  padding: 150px 0 100px;
}

blockquote {
  padding: 20px 30px;
  border-left: 5px solid $primary-color;
  background: $light;
}

.img-sm {
  height: 150px;
  width: 150px;
}

.content {
  * {
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
  }

  ul {
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      list-style-type: none;

      &::before {
        position: absolute;
        content: "\e65d";
        font-family: $icon-font;
        font-size: 14px;
        left: 0;
        top: 1px;
        color: $primary-color;
        transition: .3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $light, $amount: 2);
    }

    tbody {
      background: $light;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    p {
      margin-bottom: 0;
      color: $text-color;
      font-style: italic !important;
    }
  }


  pre {
    padding: 10px 20px;
    background: $light;
  }
}

/* pagination */
.pagination {
  .page-item {
    margin: 0 10px;

    &.active {
      .page-link {
        background: $secondary-color;
        color: $white;
        border-color: $secondary-color;
      }
    }

    &:first-child .page-link,
    &:last-child .page-link {
      border-radius: 0;
    }

    .page-link {
      color: $text-color;
    }
  }
}

.post-thumb-sm {
  max-height: 70px;
  width: auto;
}

/* form control */
.form-control {
  height: 50px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $border-color;

  &:focus {
    box-shadow: none !important;
    border-color: $primary-color;
  }
}

textarea.form-control {
  height: 150px;
}

.sticky-top {
  top: 100px;
}

.card {
  
  &-title {
    text-transform: uppercase;
  }

  &-img {
    display: block;
    object-fit: contain;
    height: 85px;
    width: auto;
    max-width: 200px;
    transform: scale(1.1);
  }

}

.client-logo-slider img {
    height: 80px;
    width: auto;
    max-width: 120px;
    object-fit: contain;
}
