{{ "<!-- sidebar -->" | safeHTML }}
<aside class="col-lg-4 order-1 order-lg-2">
  {{ "<!-- categories -->" | safeHTML }}
  <div class="d-none bg-white mb-5">
    <h4 class="mb-4">{{ i18n "categories" }}</h4>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li class="border-bottom"><a href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}" class="d-block pb-3 mt-3">{{ $name | title | humanize }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  {{ "<!-- tags -->" | safeHTML }}
  <div class="bg-white mb-5">
    <h4 class="mb-4">{{ i18n "tags" }}</h4>
    {{- if isset .Site.Taxonomies "tags" }}
    {{ $tags := .Site.Taxonomies.tags }}


      {{- if not (eq (len $tags) 0)  }}

      {{- $.Scratch.Set "myLimit" 0 }}

    <ul class="list-inline">
      {{- range $name, $items :=  $tags }}

      {{- $.Scratch.Set "myLimit" (add ($.Scratch.Get "myLimit") 1) }}
      {{- if le ($.Scratch.Get "myLimit") ($.Site.Param `tagsLimit`) }}
    
        <li class="list-inline-item mb-2"><a class="px-3 py-2 d-block bg-light" href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
     
      {{ end }}
      {{- end }}
    </ul>

   
    {{- end }}
    {{- end }}
  </div>
  {{ "<!-- latest post -->" | safeHTML }}
  <div class="bg-white">
    <h4 class="mb-4">{{ i18n "latest_article" }}</h4>
    {{ "<!-- post-item -->" | safeHTML }}
    {{ range first 3 ( where .Site.Pages "Type" "post" )}}
    <div class="media border-bottom border-color pb-3 mb-3">
      <a href="{{ .Permalink }}"><img class="mr-3 post-thumb-sm" src="{{ .Params.Image | relURL }}"></a>
      <div class="media-body">
        <a href="{{ .Permalink }}">
          <h5 class="mt-0">{{ .Title }}</h5>
        </a>
        {{ .PublishDate.Format "02 Jan 2006" }}
      </div>
    </div>
    {{ end }}
  </div>
</aside>
{{ "<!-- /sidebar -->" | safeHTML }}