<!-- footer -->
<footer class="footer bg-cover overlay overflow-hidden" style="background-image: url('{{`images/backgrounds/footer.jpg` | relURL}}');">
  <div class="container" style="position: relative; z-index: 1;">
    <div class="row justify-content-center py-3">

      
<div class="w-100 mb-3">
  <a href="{{ .Site.BaseURL }}" class="d-flex align-items-center justify-content-center">
    <img class="img-fluid" src="{{ .Site.Params.logo | relURL }}" alt="{{ .Site.Title }}" width="{{ .Site.Params.logo_w }}">
  </a>

</div>
          <!-- <div class="col-lg-4 mb-4 mb-lg-0">
            <h5 class="text-white mb-4">{{ i18n "about_us"}}</h5>
            <p class="text-white content">{{ .Site.Params.footer_content | markdownify }}</p>
          </div> -->
          <div class="row mx-0">
            <ul class="list-unstyled d-flex">
              {{ range .Site.Menus.footer }}
              <li class="text-white pr-3"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>

            <ul class="list-inline my-0">
              <li class="list-inline-item text-white"><i class="ti-mobile mr-2"></i>{{ .Site.Params.mobile | markdownify }}</li>
              <li class="list-inline-item text-white"><i class="ti-email mr-2"></i>{{ .Site.Params.email | markdownify }}</li>
              <li class="list-inline-item text-white"><i class="ti-email mr-2"></i>{{ .Site.Params.address | markdownify }}</li>
            </ul>

          
         
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ if .Site.Params.search }}
<script>
  var indexURL = {{"index.json" | relURL}}
</script>
{{ end }}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ with .Site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | relURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id}}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}